@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply bg-beige-50 h-[100dvh] w-[100dvw] sm:w-[640px] mx-auto
}

h1 {
  @apply text-5xl short-mobile:text-4xl
}

h2 {
  @apply text-2xl short-mobile:text-xl
}

h3 {
  @apply text-xl short-mobile:text-lg
}

p {
  @apply text-lg short-mobile:text-base
}

.text-responsive__small {
  @apply text-sm short-mobile:text-xs
}

.text-responsive__medium {
  @apply text-base short-mobile:text-sm
}

.text-responsive__large {
  @apply text-lg short-mobile:text-base
}

.text-responsive__x-large {
  @apply text-xl short-mobile:text-lg
}

.text-responsive__xx-large {
  @apply text-2xl short-mobile:text-xl
}

input[type=date],
input[type=time] {
    box-sizing        : border-box;
    display           : flex;
    justify-content   : center;
    position          : relative;
    width             : 100%;
    -moz-appearance   : textfield;
    -webkit-appearance: none;
    margin            : 0;
}

input[type=date]::-webkit-datetime-edit,
input[type=time]::-webkit-datetime-edit {
    text-align: left;
    width     : 100%;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}
